<!DOCTYPE HTML>
<html>
  <head>
    <link href="bootstrap.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
  <script type="text/javascript" src="jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="bootstrap.js"></script>
  <script type="text/javascript" src="d3.min.js"></script>
  <script type="text/javascript" src="timeago.js"></script>
<script type="text/javascript" src="timeago.zh-cn.js"></script>
         <!-- svg存放图像区域 开始-->
<div class="svgAppend"></div>
  <script>

    //初始化时间格式函数
    //$("body").timeago()
            //.dblclick(function(){
           // markclose();
    //});
</script>
  </body>
  <script type="text/javascript" src="uMark.js"></script>
<html>