<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<script>
function Animal(){
　　　　
　　}
Animal.prototype.species="动12物";
function Cat(name){
　　　　this.name = name;
　　}
function extend(Child, Parent) {
　　　　var p=Parent.prototype;
        var c=Child.prototype;

　　for (var i in p){
      c[i]=p[i];
    }　
        　c.uber=p;　
　　}
   extend(Cat,Animal);
　　var cat1 = new Cat("大毛");
　　console.log(cat1.species); // 动物
</script>
</body>
</html>