<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="jquery-2.1.4.min.js"></script>
</head>
<body>
<div id="div">
    <a href='#'> 第一个链接 </a> </br>
  <a href='#'> 第二个链接 </a> </br>
  <a href='#'> 第三个链接 </a> </br>
  <a href='#'> 第四个链接 </a> </br>
</div>
<p contenteditable="true">这是一段可编辑的段落。请试着编辑该文本。</p>
<p draggable="true" dropzone="div1">test</p>
<script>
function parseUrl(url){
    var params={};
    var urlGroup=url.split("?");
    if(urlGroup.length===1) return params;
    var perParam=urlGroup[1].split("&");
    var len=perParam.length;
    for(var i=0;i<len;i++){
        var result=perParam[i].split("=");
        params[result[0]]=result[1];
    }
    return params;
}
  var url = 'http://witmax.cn/index.php?key0=0&key1=1&key2=2';
    console.log(parseUrl(url));
    var a=[1,2,3,4,5,6,]
 var len=a.length;
    for(var i=0;i<len;i++){
        var num=a[i];
        (function(num){
              var f=function(){
                  console.log(num);
        };
            a[i]=f;
        })(num)
    }
    for(var i=0;i<len;i++){
        //console.log(a[i]);

    }
//(function(a, b) {
//  var c = a + b;
//
//  if(c > 100) return;
//  arguments.callee(b, c);
//
//})(-1, 1);
//function add(num){
//    console.log(~add);
//  num += ~add;
//
//  add.num = num;
//  return add;
//}
//add.valueOf = add.toString = function(){return add.num};
//var ans = add(3)(4)(5)(6);  // 18


//for (var i = 0; i < elems.length; i++) {
//
//    (function (lockedInIndex) {
//alert(lockedInIndex);
//        elems[i].addEventListener('click', function (e) {
//            e.preventDefault();
//            alert('I am link #' + lockedInIndex);
//        }, 'false');
//
//    })(i);
//
//}
//function argu(){
//   return [].reduce.call(arguments,function(a,b){
//       return a+b;
//   })
//}

//柯里化
//function curryIt(fn) {
//  var arr=[],len = fn.length;
//  return function(x){ 
//    arr.push(x);
//   console.log(arr.length)
//       return arr.length < 1en ? arguments.callee : fn.apply(null,arr);
//  }
//}
//var fn = function (a, b, c) {return a + b + c};
//function cssStyle2DomStyle(sName) {
//    return sName.replace(/(?!^)\-(\w)(\w+)/g, function(a, b, c){
//            return b.toUpperCase() + c.toLowerCase();
//        }).replace(/^\-/, '');
//}
//function push(array, ...items) {
//  array.push(...items);
//}
//
//function add(x, y) {
//  return x + y;
//}
//
//var numbers = [4, 38];
//add(...numbers) // 42
//
//console.log([..."hello"] ) // "hello"

function* fibonacci() {
    let [prev, curr] = [0, 1];
    for (;;) {
        [prev, curr] = [curr, prev + curr];
        yield curr;
    }
}

for (let n of fibonacci()) {
    if (n > 1000) break;
    console.log(n);
}
    var p = Promise.resolve('Hello');

function Foo() {
    var i = 0;
    return function() {
        console.log(i++);
    }
}

</script>
<script>
function Observer() {
    this.fns = [];
}
Observer.prototype = {
    subscribe: function (fn) {
        this.fns.push(fn);
    },
    unsubscribe: function (fn) {
        this.fns = this.fns.filter(
                        function (el) {
                            if (el !== fn) {
                                return el;
                            }
                        }
                    );
    },
    update: function (o, thisObj) {
        var scope = thisObj || window;
        this.fns.forEach(
                        function (el) {
                            el.call(scope, o);
                        }
                    );
    }
};
function foo() {
 return  (function bar() {
    alert(this); // global
  })()

}

</script>
</body>
</html>
