 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <title>统计界面</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h3 class="text-center">信息统计表</h3>
<p class="pull-right" style="margin-right: 2%">生成时间：<small class="time"></small></p>
  <div class="row">
<table class="table table-striped">
      <tr>
         <th>总人数</th>
          <td >100</td>
         <th></th>
         <td></td>
      </tr>
    <tr>
         <th>已审核</th>
          <td>33</td>
         <th>未审核</th>
         <td>32</td>
      </tr>
    <tr>
         <th>走读生</th>
          <td>32</td>
         <th>非走读生</th>
         <td>11</td>
      </tr>
      <tr>
         <th>已缴费</th>
          <td>54</td>
         <th>未交费</th>
         <td>33</td>
      </tr>
</table>
      </div>
    </div>

<script>
    console.profile('nihao');
    $(function(){
        var now= new Date(1272102851622);
        var month=now.getMonth()+1;

        //写入相应位置
        var time=now.getFullYear()+"/"+month+"/"+now.getDate()+" "+now.getHours()+":"+now.getMinutes();
    $(".time").html(time);
    })

    var obj={
            name:'huguoq',
            age:'20',
            interest:'play'
        }
    var name='nnihao';
console.profileEnd('nihao');
   var a={
       "a":123,
       "b":'nihao',
       "c":[{
               "a":1623
           }]
   }
       var b={
       "a":123,
       "b":'nihao',
       "c":[
           {"a":123}
           ]
   }
function isObj(object) {
return object && typeof (object) == 'object' && Object.prototype.toString.call(object).toLowerCase() == "[object object]";
}
function isArray(object) {
return object && typeof (object) == 'object' && object.constructor == Array;
}
function getLength(object) {
var count = 0;
for (var i in object) count++;
return count;
}
    function Compare(objA, objB) {
if (!isObj(objA) || !isObj(objB)) return false; //判断类型是否正确
if (getLength(objA) != getLength(objB)) return false; //判断长度是否一致
return CompareObj(objA, objB, true);//默认为true
}
function CompareObj(objA, objB, flag) {
for (var key in objA) {
if (!flag) //跳出整个循环
break;
if (!objB.hasOwnProperty(key)) { flag = false; break; }
if (!isArray(objA[key])) { //子级不是数组时,比较属性值
if (objB[key] != objA[key]) { flag = false; break; }
} else {
if (!isArray(objB[key])) { flag = false; break; }
var oA = objA[key], oB = objB[key];
if (oA.length != oB.length) { flag = false; break; }
for (var k in oA) {
if (!flag) //这里跳出循环是为了不让递归继续
break;
flag = CompareObj(oA[k], oB[k], flag);
}
}
}
return flag;
}
    var result = Compare(a, b);
console.log(result); // true or false
    </script>
</body>
</html>